*{
    margin: 0;
    padding: 0;
}

.header{
    background: rgb(10, 64, 182);
    text-align: center;
    color: antiquewhite;
    width: 100%;
    margin: auto;
    position: relative;
    display: inline-table;
}
.header>img{
    width: 100px;
    height: 100px;
}

body{
    background-color: aquamarine;
}

nav{
    margin: auto;
    text-align: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul{
    background: rgb(0, 174, 255);
    padding: 0 20px;
    width: 100%;
    display: inline-table;
    list-style: none;
    position: relative;

}
img{
    width: 50%;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav ul li{
    float: left;
}

nav ul li:hover a{
    color: rgb(238, 9, 9);
}

nav ul li a{
    display: block;
    padding: 25px;
    color: rgb(6, 6, 6);
    text-decoration: none;
    font-family: fantasy;
    font-size: 20px;
}

.row{
    display:flex;
    text-align: justify;
    font-size: 18px;
    text-align: justify;
    image-orientation: 300;
}
.col{
    padding: 20px;
    text-align: justify;
}
img{
    width: 900px;
    height: 450px;
}

.col img{
    width: 500px;
    height: 300px;
}

iframe{
    width: 500px;
    height: 300px;
}
footer{
    background-color: aqua;
    margin-top: 80px;
    text-align: center;
    height: 100px;
    padding-top: 18px;
    position: relative;
    width: 100%;
    padding-bottom: none;
}
footer p{
    margin-top: 15px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
