body{
    background-color: rgb(177, 249, 247);
}
.row{
    display:flex;
    text-align: justify;
    font-size: 19px;

}
img{
    width: 400px;
    height: 200px;
    padding: 20px;
}
iframe{
    width: 400px;
    height: 200px;
    padding: 20px;

}